# Anotações e relatórios locais
anotacoes/

# Python / Environments
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.db
*.sqlite3

# Node / Next.js
node_modules/
.next/
out/
dist/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
